<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="fountain" class="edu.jspiders.setterinjection2.beans.FountainPen">
	
	<property name="brand" value="fountain"/>
	<property name="type" value="fountain"/>
	<property name="price" value="50"/>
	
	</bean>
	
	<bean id="ballpoint" class="edu.jspiders.setterinjection2.beans.BallPointPen">
	
	<property name="brand" value="Reynolds"/>
	<property name="type" value="Ball Point"/>
	<property name="price" value="10"/>
	
	</bean>
	
	<bean id="gel" class="edu.jspiders.setterinjection2.beans.GelPen">
	
	<property name="brand" value="Wonder"/>
	<property name="type" value="Gel"/>
	<property name="price" value="20"/>
	
	</bean>
	
		
</beans>